{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a Ranking block.
 *
 * Available variables:
 * - Look in the block.html.twig file for available variables.
 */
#}

{% block content %}
	<a href="{{ content.field_sf_link.0['#url'] }}" class="ranking">
		<div class="ranking__images">
			<div class="icon__area">
				<div class="icon__area--placement">
					<div class="icon__area--circle">
						{{ content.field_sf_m_block_primary_img|render }}
					</div>
				</div>
			</div>
			<div class="main-image">
				{{ content.field_main_image|render }}
			</div>
		</div>
		<div class="ranking__title">
			<h2>{{ content.field_sf_title.0['#context'].value }}</h2>
		</div>
		<div class="ranking__middle">
			<img src="{{ base_path ~ directory }}/images/components/splash-frame.png" alt="">
		</div>
		<div class="ranking__back">
			{{ content.field_ucd_bkgd_image|render }}
		</div>
	</a>
{% endblock %}
