{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a Photo Circle block.
 *
 * Available variables:
 * - Look in the block.html.twig file for available variables.
 */
#}

{% import "@sf1subtheme/../src/components/icons/icons.twig" as icons %}

{% block content %}
	<a href="{{ content.field_sf_link.0['#url'] }}" class="photo-circle category-brand">
		<div class="photo-circle__image">
			<div class="photo-circle__indicator">
				{{ icons.get('right-circle-arrow', 'svg svg--right-circle-arrow') }}
			</div>
			{{ content.field_sf_m_block_primary_img|render }}
		</div>
		<div class="photo-circle__title">
			{{ content.field_sf_title.0['#context'].value }}
		</div>
	</a>
{% endblock %}
