{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set break_elem = (content.field_sf_title|render) ? true : false %}

{% block content %}
  <div class="{{ content.field_set_teaser_alignment|render|striptags|trim }}">
    <div class="full-width-teaser category-brand">
      <div class="full-width-teaser__content category-brand">
        <h2 class="full-width-teaser__title">
          {% if content.field_sf_title|render %}
            {{ content.field_sf_title.0['#context'].value }}
          {% endif %}
          {% if content.field_ucd_title2|render %}
            {% if break_elem %}
              <br/>
            {% endif %}
            <span class="full-width-teaser__title--line2 category-brand__text">
      {{ content.field_ucd_title2.0['#context'].value }}
      </span>
          {% endif %}
        </h2>
        <p class="full-width-teaser__text">
          {{ content.field_ucd_description.0['#context'].value }}
        </p>
        <div class="full-width-teaser__buttons">
          {% if content.field_sf_link|render %}
            <a href="{{ content.field_sf_link.0['#url'] }}" class="btn--primary category-brand__btn">
              {{ content.field_sf_link.0['#title'] }}
            </a>
          {% endif %}
          {% if content.field_ucd_link2|render %}
            <a href="{{ content.field_ucd_link2.0['#url'] }}" class="btn--invert category-brand__btn">
              {{ content.field_ucd_link2.0['#title'] }}
            </a>
          {% endif %}
        </div>
      </div>
      {% if content.field_sf_m_block_primary_img|render %}
        <div class="full-width-teaser__image">
          {{ content.field_sf_m_block_primary_img }}
        </div>
      {% endif %}
    </div>
  </div>
  {{ content|without('field_sf_title', 'field_ucd_title2', 'field_sf_m_block_primary_img', 'field_sf_link', 'field_ucd_description','field_ucd_link2','field_set_teaser_alignment') }}
{% endblock %}
