@use "../../../../../../profiles/sitefarm/themes/sitefarm_one/sass/1_pattern_lab/0_tools" as *;

.full-width-teaser {
  $fwt-block: &;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @at-root #{$fwt-block}--img-left #{&} {

    #{$fwt-block}__content {
      grid-column: 1 / span 2;
      grid-row: 2;
      margin-top: $spacer--medium;
      padding: 0;
      text-align: center;

      @include breakpoint($bp-medium--up) {
        grid-column: 2;
        grid-row: 1;
        margin-top: 0;
        padding: 0 $spacer--medium 0 $spacer--large;
        text-align: left;
      }
    }

    #{$fwt-block}__image {
      grid-column: 1 / span 2;
      grid-row: 1;

      @include breakpoint($bp-medium--up) {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
      }
    }
  }

  @at-root #{$fwt-block}--img-right #{&} {

    #{$fwt-block}__content {
      grid-column: 1 / span 2;
      grid-row: 2;
      margin-top: $spacer--medium;
      padding: 0;
      text-align: center;

      @include breakpoint($bp-medium--up) {
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
        padding: 0 $spacer--medium;
        text-align: left;
      }
    }

    #{$fwt-block}__image {
      grid-column: 1 / span 2;
      grid-row: 1;

      @include breakpoint($bp-medium--up) {
        grid-column: 2;
        grid-row: 1;
        padding: 0;
      }
    }
  }

  &__content {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 100%;
    margin-top: $spacer--medium;
    padding: 0;
    text-align: center;

    @include breakpoint($bp-medium--up) {
      margin-top: $spacer--large;
      padding: 0 10%;
    }
  }

  &__title {
    color: $ucd-gold;
    font-size: 2rem;
    line-height: 1;

    @include breakpoint($bp-small--up) {
      font-size: 2.25rem;
    }

    @include breakpoint($bp-narrow--up) {
      font-size: 2.85rem;
    }

    &--line2 {
      color: $ucd-blue;
    }
  }

  &__text {
    color: $ucd-black-80;
  }

  &__image {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
    min-height: auto;
    padding: 0 20%;

    @include breakpoint($bp-narrow--up) {
      padding: 0 20%;
    }

    @include breakpoint($bp-narrow--up) {
      padding: 0 35%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__buttons {
    margin-top: $spacer--medium;
    margin-right: -($spacer--tiny);
    margin-left: -($spacer--tiny);

    a {
      margin: 0 $spacer--tiny $spacer--small;
    }
  }
}
