@use "../../../../../../profiles/sitefarm/themes/sitefarm_one/sass/1_pattern_lab/0_tools" as *;

.marketing-tile {
  position: relative;
  display: block;
  overflow: hidden;
  color: inherit;
  text-align: center;

  &__image {
    position: relative;
    //z-index: $zindex-component-bg;
    overflow: hidden;

    img {
      z-index: 1;
      width: 100%;
      height: auto;
      transition: all $transition-time ease-in-out;
    }

    &:after {
      @include force-anti-alias();
      position: absolute;
      z-index: 2;
      top: 98%;
      left: -112.5%;
      width: 200%;
      height: 200%;
      background-color: var(--category-brand, $ucd-blue);
      content: " ";
      opacity: .75;
      transform: rotate(45deg);
      transition: all $transition-time ease-in-out;
    }

  }

  &__title {
    // @include font-size doesn't seem to exist anymore
    //@include font-size(18px, 1.2);
    position: absolute;
    z-index: 4;
    bottom: 50%;
    width: 100%;
    margin: 0 auto;
    padding: 0 $spacer;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, .9);
    transition: all $transition-time ease-in-out;

    @include breakpoint($bp-narrow--up) {
      bottom: 45%;
    }

    h3 {
      margin: 0;
      color: $white;
      font-size: 1.4rem;
      font-weight: $font-weight--bold;
      line-height: 1;

      @include breakpoint($bp-small--up) {
        font-size: 2rem;
      }

      @include breakpoint($bp-narrow--up) {
        font-size: 2.6rem;
      }

      @include breakpoint($bp-medium--up) {
        font-size: 1.4rem;
      }

      @include breakpoint($bp-wide--up) {
        font-size: 1.75rem;
      }
    }
  }

  &__description {
    position: absolute;
    z-index: 4;
    top: 42.5%;
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 0 $spacer;
    font-weight: normal;
    opacity: 0;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .9);
    transition: all $transition-time ease-in-out;

    @include breakpoint($bp-narrow--up) {
      display: block;
    }

    @include breakpoint($bp-wide--up) {
      padding: 0 $spacer--large;
    }

    p {
      margin: 0;
      color: $white;
      font-size: .9rem;
      line-height: 1.1;

      @include breakpoint($bp-narrow--up) {
        font-size: 1.4rem;
      }

      @include breakpoint($bp-medium--up) {
        font-size: .9rem;
      }
    }
  }

  &__indicator {
    position: absolute;
    z-index: 3;
    top: 55%;
    left: 40%;
    width: 20%;
    height: 20%;
    margin: auto;
    opacity: 1;
    transition: all .2s ease-in-out;

    @include breakpoint($bp-narrow--up) {
      top: 40%;
      left: -10px;
      display: block;
      opacity: 0;
    }

    .svg {
      width: 100%;
      filter: invert(1) opacity(.75);

      @include breakpoint($bp-narrow--up) {
        filter: invert(1) opacity(1);
      }
    }


  }

  &:hover {
    cursor: pointer;
    text-decoration: none;

    img {
      transform: scale(1.05);
    }

    .marketing-tile__image:after {

      @include breakpoint($bp-narrow--up) {
        opacity: .9;
        transform: scale(3) rotate(45deg);
      }
    }

    .marketing-tile__indicator {

      @include breakpoint($bp-narrow--up) {
        top: 40%;
        left: 40%;
        width: 20%;
        height: 20%;
        opacity: 1;
      }
    }

    .marketing-tile__title {

      @include breakpoint($bp-narrow--up) {
        bottom: 65%;
        text-shadow: 0 0 0 rgba(0, 0, 0, 1);
      }

    }

    .marketing-tile__description {

      @include breakpoint($bp-narrow--up) {
        top: 67%;
        opacity: 1;
      }
    }

  }
}

.marketing-tile__container--three {

  display: block;
  clear: both;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @include breakpoint($bp-narrow--up) {
    display: flex;
  }

  .marketing-tile {
    margin: 0;
    padding: 0;

    @include breakpoint($bp-narrow--up) {
      flex: 1;
      margin-right: -1px;
    }
  }

  .panel-pane {
    clear: none;
    margin-bottom: 0;
    background-color: transparent;
  }

}

.marketing-tile__container--four {

  display: block;
  clear: both;
  height: auto;
  margin: 0;
  padding: 0;

  @include breakpoint($bp-medium--up) {
    display: flex;
  }

  .marketing-tile {
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small--up) {
      float: left;
      width: 50%;
    }

    @include breakpoint($bp-medium--up) {
      float: none;
      flex: 1;
      width: 100%;
      margin-right: -1px;
    }

    //&__title {
    //
    //  @include breakpoint($bp-xsmall--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(20px, 1.2);
    //  }
    //
    //  @include breakpoint($bp-wide--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(25px, 1.2);
    //  }
    //}

  }

  .panel-pane {
    clear: none;
    margin-bottom: 0;
    background-color: transparent;
  }

}

.marketing-tile__container--two {

  display: block;
  clear: both;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  .marketing-tile {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small--up) {
      width: 50%;
    }

    //&__title {
    //
    //  @include breakpoint($bp-xsmall--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(20px, 1.2);
    //  }
    //
    //  @include breakpoint($bp-narrow--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(25px, 1.2);
    //  }
    //
    //  @include breakpoint($bp-medium--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(33px, 1.2);
    //  }
    //
    //  @include breakpoint($bp-wide--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(40px, 1.2);
    //  }
    //}

    //&__description {
    //
    //  @include breakpoint($bp-wide--up) {
    //    // @include font-size doesn't seem to exist anymore
    //    //@include font-size(22px, 1.2);
    //  }
    //}
  }

  .panel-pane {
    clear: none;
    margin-bottom: 0;
    background-color: transparent;
  }
}

