@use "../../../../../../profiles/sitefarm/themes/sitefarm_one/sass/1_pattern_lab/0_tools" as *;

// Photo Circle component styles

.photo-circle {
  $pc-block: &;

  position: relative;
  display: block;
  overflow: hidden;
  color: inherit;
  text-align: center;
  text-decoration: none !important;

  &:hover {

    #{$pc-block}__image:after {
      @include breakpoint($bp-narrow--up) {
        opacity: .6;
      }
    }

    #{$pc-block}__indicator {
      @include breakpoint($bp-narrow--up) {
        left: 40%;
        opacity: 1;
      }
    }

    #{$pc-block}__title {
      @include breakpoint($bp-narrow--up) {
        padding: 1em 0 .5em;
      }
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transform: translateZ(0);

    #{$pc-block}__indicator {
      position: absolute;
      z-index: 3;
      top: 40%;
      left: 40%;
      width: 20%;
      height: 20%;
      margin: auto;
      opacity: 1;
      transition: all .2s ease-in-out;

      @include breakpoint($bp-narrow--up) {
        top: 40%;
        left: -10px;
        display: block;
        opacity: 0;
      }

      .svg {
        width: 100%;
        filter: invert(1) opacity(.75);

        @include breakpoint($bp-narrow--up) {
          filter: invert(1) opacity(1);
        }
      }
    }

    img {
      z-index: 1;
      width: 100%;
      height: auto;
      transition: all $transition-time ease-in-out;
    }

    &:after {
      @include force-anti-alias();
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--category-brand, $ucd-blue);
      content: " ";
      opacity: 0;
      transition: all $transition-time ease-in-out;
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1.5em 0 0;
    color: $ucd-blue;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    transition: all .2s ease-in-out;
  }

}
