@use "../../../../../../profiles/sitefarm/themes/sitefarm_one/sass/1_pattern_lab/0_tools" as *;

// Ranking component styles

.ranking {
  $ranking-block: &;
  position: relative;
  display: block;
  color: $ucd-blue;
  text-decoration: none;

  &:active,
  &:focus,
  &:visited {
    color: $ucd-blue;
  }

  &:hover {
    #{$ranking-block}__images {
      .icon__area--circle:before {
        opacity: 1;
        transform: rotate(70deg);
      }

      .main-image {
        img {
          transform: rotate(3deg);
        }
      }
    }

    #{$ranking-block}__middle {
      animation: ani 1s steps(22) forwards;
    }
  }

  &__images {
    position: relative;
    z-index: 5;
    height: 0;
    padding-bottom: 110%;

    .icon__area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &--placement {
        position: absolute;
        right: 27%;
        bottom: 10%;
        left: 27%;
      }

      &--circle {
        position: relative;
        width: 100%;
        height: auto;
        line-height: 0;

        &:before {
          position: absolute;
          top: -12px;
          right: -12px;
          bottom: -12px;
          left: -12px;
          border: 7px dotted $white;
          border-radius: 50%;
          content: "";
          opacity: 0;
          transition: all .4s ease-in-out;

          @include breakpoint($bp-narrow--down) {
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            border: 5px dotted $white;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .main-image {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      left: 0;

      img {
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: all .5s ease-in-out;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 10;

    h2 {
      margin: 0;
      color: $ucd-blue;
      font-size: 1.25rem;
      text-align: center;

      @include breakpoint($bp-narrow--down) {
        font-size: 1rem;
      }

      @include breakpoint($bp-small--down) {
        font-size: .9em;
      }
    }
  }

  &__middle {
    position: absolute;
    z-index: 3;
    bottom: 2rem;
    left: 0;
    animation: ani2 .3s steps(22) forwards;
    mask: url("../images/ranking-mask-sprite.png");
    mask-size: 2300% 100%;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__back {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    left: 0;
    height: 100%;
    width: 100%;

    div {
      height: 100%;
      width: 100%;
    }


    img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes ani {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0 0;
  }
}
