{#
/**
 * @file
 * Theme override to display a Basic Block with Transparent Background.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set brand_textbox = (block_styles.brand_textbox.brand_textbox == '1') ? TRUE : FALSE %}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
class_panel ? 'panel',
class_mobile_collapse ? 'panel--mobile-collapse',
brand_textbox ?: 'o-box',
'panel__transparent-no-padding',
]
%}
{% set block_title_class = class_panel ? 'panel__title' %}

<div{{ attributes.addClass(classes) }}>
    {% if brand_textbox %}
    {#<section class="brand-textbox category-brand__background">#}
    <section class="brand-textbox">
        {% endif %}
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes.addClass(block_title_class) }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content|without('field_sf_brand_textbox', 'field_sf_collapse') }}
        {% endblock %}
        {% if brand_textbox %}
    </section>
    {% endif %}
</div>
