{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% import "@sf1subtheme/../src/components/icons/icons.twig" as icons %}

{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  class_panel ? 'panel',
  class_mobile_collapse ? 'panel--mobile-collapse',
  class_box ? 'o-box',
  class_box_large ? 'o-box--large'
]
%}

{% block content %}
  <a href="{{ content.field_sf_link.0['#url'] }}" class="marketing-tile category-brand {{ featured }}">
    <div class="marketing-tile__image">
      <div class="marketing-tile__title">
        <h3>{{ content.field_sf_title.0['#context'].value }}</h3>
      </div>
      <div class="marketing-tile__description">
        <p>{{ content.field_ucd_description.0['#context'].value }}</p>
      </div>
      <div class="marketing-tile__indicator ">
        {{ icons.get('right-circle-arrow', 'svg svg--right-circle-arrow') }}
      </div>
      {{ content.field_sf_m_block_primary_img|render }}
    </div>
  </a>
  {{ content|without('field_sf_title', 'field_sf_m_block_primary_img', 'field_sf_link', 'field_ucd_description') }}
{% endblock %}
