{% extends "node.html.twig" %}

{#
/**
 * @file
 * Theme override for a node sf-person defualt display
 *
 * Available variables:
 * - Look in the node.html.twig file for available variables.
 */
#}
{% block content %}
    <div{{ content_attributes.addClass('node__content') }}>
        {#<div class="u-align--right u-width--one-third">#}
        {#{{ content.field_sf_primary_image }}#}
        {#</div>#}
        {#<h2 class="person-position-title">{{ content.field_sf_position_title }}</h2>#}
        {#<h3 class="u-space-bottom--small">{{ content.field_sf_unit }}</h3>#}

        {#<ul class="list--pipe u-space-bottom">#}
            {#{{ content.field_sf_phone_numbers }}#}
            {#{{ content.field_sf_emails }}#}
            {#{{ content.field_sf_websites }}#}
        {#</ul>#}

        {#<div class="u-space-bottom">#}
            {#{{ content.field_sf_office_location }}<br>#}
            {#{{ content.field_sf_address }}#}
        {#</div>#}

        {#<div class="u-space-bottom">#}
            {#{{ content.field_sf_office_hours }}#}
        {#</div>#}

        {{ content|without(
        'field_sf_primary_image',
        'field_sf_position_title',
        'field_sf_unit',
        'field_sf_phone_numbers',
        'field_sf_emails',
        'field_sf_websites',
        'field_sf_office_location',
        'field_sf_address',
        'field_sf_office_hours'
        ) }}
    </div>
{% endblock %}
