{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation menu region.
 * - page.quick_links: Items for the quick links menu region.
 * - page.pre_content: Items for the pre content region
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.footer_credits: Credits for the site like UC info.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set show_header = page.header|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty or page.search|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty or page.navigation|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty or page.quick_links|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty %}
{% set show_footer = page.footer|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty or page.footer_credits|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty %}

{% set sidebar_first_rendered = page.sidebar_first|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty %}
{% set sidebar_second_rendered = page.sidebar_second|render|striptags('<div><img><video><drupal-render-placeholder>')|trim is not empty %}
{%
  set layout_classes = [
    sidebar_first_rendered and not sidebar_second_rendered and not right_split ? 'l-basic',
    sidebar_second_rendered and not sidebar_first_rendered and not left_split ? 'l-basic--flipped',
    sidebar_first_rendered and sidebar_second_rendered and not left_split and not right_split ? 'l-basic--3col',
    left_split ? 'l-basic',
    right_split ? 'l-basic--flipped',
  ]
%}
{%
  set default_top_content_classes = [
    top_content_default_quad_size == 4 ? 'l-quad',
    top_content_default_quad_size == 3 ? 'l-quad--third',
    top_content_default_quad_size == 2 ? 'l-quad--half',
    top_content_default_quad_size == 1 ? 'l-quad--full',
    top_content_quad_class,
  ]
%}
{%
  set default_bottom_content_classes = [
    bottom_content_default_quad_size == 4 ? 'l-quad',
    bottom_content_default_quad_size == 3 ? 'l-quad--third',
    bottom_content_default_quad_size == 2 ? 'l-quad--half',
    bottom_content_default_quad_size == 1 ? 'l-quad--full',
    bottom_content_quad_class,
  ]
%}

{% set no_quicklinks = (use_www_quicklinks or page.quick_links|render) ? false : true %}
{% set contain_content = (page['#regions_overridden'] and is_layout_builder) ? false : true %}

{% block page_start %}{% endblock %}
<div class="layout-container {% if is_layout_builder_edit %}layout-builder-edit{% endif %}">
  {% if show_header %}
  <header class="l-header header" role="banner">
    {% block header_start %}{% endblock %}

    <div class="mobile-bar">
      <div class="mobile-bar__nav-toggle">
        <button class="nav-toggle js-nav-toggle" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle Main Menu">
          <span class="nav-toggle__icon nav-toggle__icon--menu">Menu</span>
        </button>
      </div>
      <div class="mobile-bar__fixed-site-name"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></div>
      <div class="mobile-bar__university">
        <a href="https://www.ucdavis.edu/"><img src="{{ theme_images_path }}uc-logo-gold.svg" class="ucd-logo" alt="UC Davis Logo" width="124" height="20" /></a>
      </div>
    </div>

    <div class="header__bar">
      <div class="header__university">
        <a href="https://www.ucdavis.edu/">
          <img src="{{ theme_images_path }}uc-logo-blue.svg" class="ucd-logo" alt="UC Davis Logo" width="100" height="16" />
        </a>
      </div>
    </div>

    <div class="l-header__branding">
      {{ page.header }}
    </div>

    <div class="l-navbar header__navbar menu--closed">
      <div class="l-container--navigation off-canvas off-canvas--left">
        <div class="off-canvas__container l-nav-horizontal">
          <div class="l-nav-horizontal__search-popup {% if no_quicklinks %}search-popup--edge{% endif %}">
            {{ page.search }}
          </div>
          <div class="l-nav-horizontal__quick-links">
            {% if use_www_quicklinks %}
              {% include '@sitefarm_one/partials/www-quicklinks.html.twig' %}
            {% else %}
              {{ page.quick_links }}
            {% endif %}
          </div>
          <div class="l-nav-horizontal__primary-nav">
            {{ page.navigation }}
          </div>
        </div>
      </div>
    </div>

    {% block header_end %}{% endblock %}
  </header>
  {% endif %}

  <main class="l-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% block main_start %}{% endblock %}

    {{ page.pre_title }}

    {{ page.page_title }}

    {% if is_front %}
      {{ page.link_grid }}
    {% endif %}

    <div class="l-container {{ top_margin ? 'u-space-top--large' }}">
      {{ page.pre_content }}

      {% if not is_front %}
        {{ page.link_grid }}
      {% endif %}

      {% if page.top_content_first|render or page.top_content_second|render or page.top_content_third|render or page.top_content_fourth|render %}
        <aside class="{{ default_top_content_classes|join(' ') }} u-clearfix u-clear">
          {{ page.top_content_first }}
          {{ page.top_content_second }}
          {{ page.top_content_third }}
          {{ page.top_content_fourth }}
        </aside>
      {% endif %}
    </div>

    <div class="{% if contain_content %}l-container{% endif %} py-2">
      <section class="{{ layout_classes|join(' ') }}">
        {% block content_layout %}
          {% if sidebar_first_rendered %}
            <aside class="l-sidebar-first">
              {{ page.sidebar_first }}
            </aside>
          {% endif %}

          <div class="l-content">
            {{ page.content }}
          </div>{# /.l-content #}

          {% if sidebar_second_rendered %}
            <aside class="l-sidebar-second">
              {{ page.sidebar_second }}
            </aside>
          {% endif %}
        {% endblock %}
      </section>
    </div>

    <div class="l-container">
      {% if page.bottom_content_first|render or page.bottom_content_second|render or page.bottom_content_third|render or page.bottom_content_fourth|render %}
        <aside class="{{ default_bottom_content_classes|join(' ') }} u-clearfix u-clear">
          {{ page.bottom_content_first }}
          {{ page.bottom_content_second }}
          {{ page.bottom_content_third }}
          {{ page.bottom_content_fourth }}
        </aside>
      {% endif %}
    </div>

    {% block main_end %}{% endblock %}
  </main>

  {% if show_footer %}
  <footer class="l-footer footer dark-background">
    {% block footer_start %}{% endblock %}
    <div class="l-container">
      {{ page.footer }}

      <div class="footer-spacer">
        <div class="footer-spacer__logo">
          <a href="https://www.ucdavis.edu/"><img src="{{ theme_images_path }}aggie-logo-white.svg" class="ucd-logo" alt="UC Davis footer logo" width="180" height="140" loading="lazy" /></a>
        </div>
      </div>

      {{ page.footer_credits }}

      <div class="u-align--center">This site is officially grown in <a href="https://sitefarm.ucdavis.edu">SiteFarm</a>.</div>

    </div>
    {% block footer_end %}{% endblock %}
  </footer>
  {% endif %}

</div>{# /.layout-container #}

{% block page_end %}{% endblock %}
